.footer {
  text-align: center;
}
.spacing {
  margin: 15px;
}
.spacing2 {
  margin: 10px;
}
.right {
  float: right;
}
.left {
  float: left;
}
.bottom {
  margin-bottom: 10px
}
.spacinggal {
  margin: 2px;
